# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# VS Code
.vscode/

# Test / Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
dist/
build/
*.egg-info/

# Optional logs
logs/
*.log